@charset "UTF-8";
/* CSS Document */

/* FONT BASE */
html { font-size: 12px; }
/*
    ----------------
    RESET
    ----------------
*/
#gd-wrapper input, #gd-wrapper select { vertical-align: middle; }
#gd-wrapper input { padding: 2px 5px; font-weight: bold; }
#gd-wrapper #gd-reserve input { font-weight: normal; }
#gd-wrapper a img { border: 0; }
/*
    ----------------
    CORE LAYOUT
    ----------------
*/
#gd-wrapper { min-width: 750px; max-width: 900px; margin: 10px auto; padding: 10px; background-color: #fff; }

/*
    ----------------
    PROGRESS TABS
    ----------------
*/  
#gd-progress-bar { margin: 0 0 10px; position: relative; }
    #gd-progress-image { display: block; margin: 0 auto 5px; }
    #gd-tabs { padding: 0; margin: 0; list-style: none; width:100%; float: left; border-bottom: 1px solid #ccc; }
        #gd-tabs li { float: left; margin: 0 5px; }
        #gd-tabs li a, #gd-tabs li span { display: block; padding: 7px 10px; background-color: #e9f6fd; border: 1px solid #ccc; border-bottom: 0; margin: 0; font-size: 12px; line-height: 1em; }
        #gd-tabs li a { text-decoration: none; }
        #gd-tabs li span { color: #999; background-color: #f6f6f6; }
        #gd-tabs li.gd-active a, #gd-tabs li.gd-active span { background-color: #fff; border-bottom: 1px solid #fff; margin-bottom: -1px; font-weight: bold; color: #000; }
        #gd-tabs li.gd-completed a, #gd-tabs li.gd-completed span { font-weight: bold; }
    
    #gd-search #gd-contact-me, #gd-multi-property-search #gd-contact-me { display: none; }
    #gd-contact-me { z-index:29; max-width:200px; font-size: 11px; padding: 7px 10px; position: absolute; top:-10px; right: -10px; background-color: #feffd0; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
        #gd-contact-me h3 { margin: 0; padding: 0; font-size: 12px; color: #000; letter-spacing: 0;  }
        #gd-contact-me h3 span { display: block; font-weight: normal; font-size: 11px; }
        #gd-contact-me-expansion { display: none; }
        #gd-contact-me-expansion a.gd-close { float: right; display: block; margin-top: 5px;  }
        #gd-contact-me input#gd-contact-me-email { width: 110px; font-weight: normal; }
/*
    ----------------
    APP CONTAINER
    ----------------
*/
#gd-app { margin: 0 0 10px; padding: 1px 0; }

/*
    ----------------
    LANGUAGE SELECT
    ---------------
*/
#gd-lang { float: left;  padding-bottom: 10px; margin: 0; }
#gd-lang a { padding-right: 10px; }
/*
    ----------------
    ITINERARY
    ----------------
*/
    #gd-itinerary { margin: 10px 0; }
    #gd-itinerary-details { margin-bottom: 10px; }
        #gd-itin-basic { position: relative; }
            #gd-itin-basic p { line-height: 1em; margin: 10px 0; padding: 0; }
            #gd-itin-basic p span#gd-save-print-email { float: right; }
            #gd-itin-basic p#gd-itinerary-main-bar { font-size: 12px; margin-bottom: 0; line-height: 12px; padding: 9px 10px 9px 30px; border: 1px solid #ccc; background-color: #f9f9f9; }
            #gd-itin-basic p b { font-size: 14px; color: #000; padding-right: 15px; }
            #gd-itin-basic p b i { font-weight: normal; font-style: normal; }
            #gd-itin-expand-button { position: absolute; right: 10px; }
        #gd-itin-expanded { display:none; font-size: 12px; border: 1px solid #ccc; border-top: 0; background-color: #f9f9f9; padding: 1px 10px; }
        #gd-reserve #gd-itin-expanded { display: block; } /* open on booking form */
            #gd-itin-totals { float: right; width: 21%; padding: 10px; margin: 10px 0; background-color: #fff; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
                #gd-itin-totals h4 { margin: 0 0 5px; font-size: 14px; padding: 0 0 3px; border-bottom: 1px solid #ccc;  }
                ul#gd-itin-price-breakdown, #gd-itin-breakdown ul { list-style: none; margin: 0 0 10px; padding: 0; text-align: right; color: #000; }
                ul#gd-itin-price-breakdown li, #gd-itin-breakdown ul li { font-size: 12px; clear: both; padding: 4px 0; }
                ul#gd-itin-price-breakdown li b, ul#gd-itin-price-breakdown ul li span, #gd-itin-breakdown ul li b, #gd-itin-breakdown ul li span { display: block; text-align: right; float: left; }
                ul#gd-itin-price-breakdown li b, #gd-itin-breakdown ul li b { width: 59%; }
                ul#gd-itin-price-breakdown li span, #gd-itin-breakdown ul li span { width: 39%; }
                ul#gd-itin-price-breakdown li em { font-style: normal; text-align: left; display: block; padding: 5px 0; text-align: right; }
                ul#gd-itin-price-breakdown-PerPerson { margin: 0; padding: 5px 15px; border-bottom: 1px solid #ccc; }
                ul#gd-itin-price-breakdown-PerPerson { list-style: none; text-align: right; color: #000; border-bottom: 0; border-top: 1px solid #ccc; }
                ul#gd-itin-price-breakdown-PerPerson li { font-size: 12px; }
                ul#gd-itin-price-breakdown-PerPerson li b { padding-right: 10px; }
            #gd-itin-package-elements { float: left; width: 75%; }
                #gd-itin-package-elements ul { margin: 0; padding: 0; list-style: none; }
                #gd-itin-package-elements ul li { position:relative; padding: 5px 10px; margin: 10px 0; background-color: #fff; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
                    .gd-itinerary-element-edit { position: absolute; right: 10px; }
                    .gd-itinerary-element-edit, .gd-itinerary-element-edit a { font-size: 12px; font-weight: normal; }
                    #gd-itin-package-elements ul li h4 { margin: 0 0 5px; font-size: 14px; padding: 0 0 3px; }
                #gd-itin-package-elements ul li#gd-purchase-insurance { background-color: #feffd0; font-weight: bold; font-size: 14px; }
                a#gd-itin-edit-dates { padding-left: 20px; }
                #gd-itin-package-elements table { margin: 10px 0; padding: 0; border-collapse: collapse; width: 100%; }
                #gd-itin-package-elements table td, #gd-itin-expanded table th { vertical-align: top; text-align: left; padding: 3px 10px; border-bottom: 1px solid #ccc; }

            
            
        #gd-multi-property-search #gd_mps_searchBox, #gd-multi-property #gd_mps_searchBox { padding: 20px; background-color: #eef7fc; border: 1px solid #ccc; margin-bottom: 20px; }
        #gd-multi-property #gd_mps_searchBox { margin-bottom: 20px; }
        #gd_mps_searchBox ul { margin: 5px 0; padding: 0; list-style: none; }
            #gd_mps_searchBox ul li { float: left; margin: 0 2px 5px; padding: 0 5px; height: 40px; }
            #gd_mps_searchBox ul li label { display: block; float: none; width: auto; text-align:left; }
            #gd_mps_searchBox ul li label, #gd_mps_searchBox ul li input, #gd_mps_searchBox ul li select, #gd_mps_searchBox ul li img { vertical-align: middle; margin: 0 5px 2px 0; }
            #gd_mps_searchBox #gs_mps_sb_submit input { padding:5px 10px; }
            #gd_mps_sb_checkin, #gd_mps_sb_checkout { width: 120px; }
            #gd_mps_sb_checkin input, #gd_mps_sb_checkout input { width: 75px; }
            
        /* Property Search form */
        #gd-search #gd-sp-searchbox, #gd-results #gd-sp-searchbox { padding: 10px 20px; background-color: #eef7fc; border: 1px solid #ccc; }
        #gd-search #gd-sp-searchbox h3#gd-individual-unit-search, #gd-results #gd-sp-searchbox h3#gd-individual-unit-search { background-color: #feffd0; border: 1px solid #ccc; color: #000; border-top-color: #ddd; margin-top: -11px; font-size: 14px; padding: 7px 10px; width: 50%; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-left-radius: 5px; -moz-border-bottom-right-radius: 5px; }
        #gd-sp-searchbox ul { list-style: none; padding: 0; margin: 10px 0; float: left; width: 99%; }
            #gd-sp-searchbox ul li { float: left; margin: 0 2px 5px; padding: 0 5px; height: 40px; }    
            #gd-sp-searchbox ul li label { display: block; float: none; width: auto; text-align:left; margin-bottom: 3px; }
            #gd-sp-searchbox ul li label, #gd-sp-searchbox ul li input, #gd-sp-searchbox ul li select, #gd-sp-searchbox ul li img { vertical-align: middle; margin: 0 5px 2px 0; }
            #gd-sp-sb-checkin input, #gd-sp-sb-checkout input { width: 75px; }
            /* Multiple Rooms Selectors */
            #gd-sp-searchbox .gd-multiplerooms-selector { display:none; }
            #gd-sp-searchbox .gd-multiplerooms-selector { clear: both; float: none; height: auto; }
            #gd-sp-searchbox .gd-multiplerooms-selector ul { list-style: none; margin: 5px 0; padding: 0 0 0 10px; border-bottom: 1px solid #ccc; width: 100%; }
            #gd-sp-searchbox .gd-multiplerooms-selector ul li { height: auto; }
            #gd-sp-searchbox .gd-multiplerooms-selector ul li label { display: inline; }
            #gd-sp-searchbox li#gd-sp-sb-submit { padding-top: 12px; }
        #gd-package-details-on-search { margin: 10px 0; padding: 10px 20px; border: 1px solid #ccc; }
        #gd-package-details-on-search h4 { color: #333; font-size: 14px; }
        #gd-package-details-on-search h4 span { display: inline; font-style: italic; font-size: 14px; font-weight: normal; }
        #gd-package-details-on-search .gd-package-image { float: left; margin: 0 20px 20px 0; }
        
        .gd-advanced-search-option { display: none; }
        #gd-sp-searchbox ul li#gd-advancedSearchLink-container { clear: both; float: none; height: auto; margin: 5px 0; }
        #gd-sp-searchbox ul li#gd-advancedsearch-clear { padding: 0; margin: 0; float: none; clear: both; height: 1px; overflow: hidden; }
        #gd_advancedSearchLink { display: block; clear: both; padding: 5px 0 5px 15px; }
        
/*
    ----------------
    MAIN - wraps all modules
    ----------------
*/
    #gd-main { margin: 0; }
    
    /*
        ----------------
        MPS Property Results
        ----------------
    */
        #gd-mps-filters { padding: 10px 10px 5px; border: 1px solid #ccc; margin-bottom: 20px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
            #gd-mps-filters h3 { margin: 0 0 10px; font-size: 14px; }
            #gd-mps-filters ul { list-style: none; margin: 0; padding: 0; }
                #gd-mps-filters ul li { float:left; margin: 0 10px 10px 0;  }
                    #gd-mps-filters ul li label { display: block; font-weight: bold; margin-bottom: 5px; }
                    #gd-mps-filters ul li ul { padding-right: 20px; }
                    #gd-mps-filters ul li ul li { float: none; padding: 0; margin: 0; background-color: transparent; border: 0; }
        
        #gd-mps-results-sort { margin: 10px 0; padding: 5px 0; border: 1px solid #ccc; border-width: 1px 0; }
        #gd-mps-viewSelector { float: right; }
        #gd-mps-property-results {  }
            .gd-property { padding: 0 0 10px; margin: 10px 0; border-bottom: 1px solid #ccc; }
                .gd-property-select { float: right; width: 200px; margin: 0 0 10px 10px; text-align: right; }
                    .gd-property-select span { display: block; text-align: right; margin-bottom: 5px; }
                    .gd-property-select span b { font-size: 14px; }
                    .gd-property-select .gd-button { float: right; padding: 5px 15px; }
                .gd-property-detail {  }
                    .gd-property-media { float: left; width: 150px; margin: 0 10px 10px 0; }
                        a.gd-property-photo { display: block; overflow: hidden; width: 150px; height: 150px; }
                        a.gd-property-photo img { width: 150px; height:150px; }
                    .gd-property-utility-links { margin: 10px 0; padding: 0; list-style: none; }
                    .gd-property-utility-links li { display: inline; padding-right: 10px; }
                    .gd-property-detail table { border-collapse: collapse; }
                    .gd-property-detail table th { text-align: center; padding: 2px 5px; }
                    .gd-property-detail table td { border: 1px solid #ccc; padding: 2px 5px; }
        
        /* MPS Property Details */
        #gd-mps-property-details { text-align: left; padding: 10px 20px; font: 12px/18px Helvetica,Arial,sans; width: 775px; }
            #gd-mps-hotel-detail-photos { width: 364px; height:380px; padding: 0; border: 1px solid #ccc; margin: 0 0 20px 20px; float: right; }
                #gd-mps-hotel-detail-photos h4, #gd-mps-hotel-detail-photos p { margin: 0 0 10px; }
                #gd-multi-property-slideshow { width: 404px; height: 417px; border: 1px solid #ccc; overflow: hidden; position: relative; }
                #gd-multi-property-slideshow img { max-height: 250px; max-width: 300px; }
                #gd-multi-property-slideshow-paging a { padding: 0 2px; font-size: 11px; }
                #gd-multi-property-slideshow-prev, #gd-multi-property-slideshow-next { cursor: pointer; text-decoration: underline; }
            #gd-mps-property-details ul { padding-left: 20px; }
            #gd-mps-property-details-special { padding: 10px; background-color: #ffe; }
            #gd-mps-property-details #gd-mps-property-detail-utility-links { list-style: none; padding-left: 0; margin: 10px 0; }
                #gd-mps-property-detail-utility-links li { display: inline; padding-right: 10px; }
            .gd-multi-room-message { text-align: center; border: none !important; }
        
        .gd-property-rate-grid { width: auto; }
    /*
        ----------------------------------------
        Specials / Packages / Promotions Lists
        ----------------------------------------
    */
    #gd-package-list { background-color: #eee; padding: 10px; }
        #gd-results .gd-inline-specials { background-color: #feffd0; margin-bottom: 10px; border: 1px solid #ccc; } /* for inline specials on room results only */
        #gd-package-list h4 { margin-top: 0; }
        #gd-package-list .gd_details { margin-top: 10px; }
            #gd-package-list .gd_details td img { margin: 0 10px 10px; }
        #gd-package-list-show-hide { float: right; }
        #gd-package-list-icon { float: left; margin: 0 10px 10px 0; }
        #gd-package-list .gd_details, #gd-package-list .gd_hide  { display: none; }
        #gd-package-list .gd_autoExpand { display: block; }
        #gd-package-list-inline { display: none; }
            .gd-package-list-thumbnail { float: left; padding: 0 10px 0 0; }            
            .gd-package-list-package-odd, .gd-package-list-package-even { background-color: #fff; padding: 10px; margin: 10px 0; }
                .gd-package-list-package-select { float: right; }
                    .gd-package-list-package-select .gd-button { width: 100px; text-align: center; }
    
    /*
        ----------------
        Room Results Section
        ----------------
    */
    /* Room FIlters */
    #gd-room-filters { padding: 10px 20px; border: 1px solid #ccc; }
        #gd-room-filters h3 { margin: 0 0 5px -10px; }
        #gd-room-filters ul { list-style: none; padding: 0; margin: 0; }
        #gd-wrapper #gd-room-filters input[type=checkbox] { vertical-align: middle; }
            #gd-room-filters ul li { float: left; padding-right: 20px; min-width: 150px; max-width: 250px; }
                #gd-room-filters ul li ul { background-color: #fff; border: 1px solid #ccc; padding: 5px 10px; }
                    #gd-room-filters ul li ul li { float: none; padding: 2px 0; }
                        #gdRoomCustomSearchSliderAmount { font-weight: bold; padding: 0 10px; }
                        #gd-room-filters ul li.gdRoomCustomSearchMultiColumn ul { float: left; max-width: 150px; }
                        #gd-room-filters ul li.gdRoomCustomSearchMultiColumn ul li { float: left; width: 70px; min-width: 50px; }
                #gd-room-filters .gdRoomCustomSearchSliderContainer { max-width: 170px; }
                #gd-room-filters .gdRoomCustomSearchSliderContainer ul { padding-bottom: 15px; max-width: 170px; }
                #gd-room-filters #gdRoomCustomSearchSliderMinAmount { float: left; }
                #gd-room-filters #gdRoomCustomSearchSliderMaxAmount { float: right; }
                #gd-room-filters .ui-slider-handle { top: 5px; background: url('/reservations/media/layout/slidehandle.gif') no-repeat center center; border: 0; }
    .gd-room-filters-on-left #gd_main-contentDisplay { float: left; width: 100%; }
    .gd-room-filters-on-left #gd-room-filters { float: left; width: 180px; padding: 10px; }
        .gd-room-filters-on-left #gd-room-filters h3 { margin: 0 0 5px; }
        .gd-room-filters-on-left #gd-room-filters ul li.gdRoomCustomSearchMultiColumn ul li { width: 60px; }
    .gd-room-filters-on-left #gd_roomResultDisplay { float: right; width: 680px; }
            
    /* Rooms Results */
    a#gd-return-to-property-list { font-size: 14px; font-weight: bold; text-decoration: underline; }
    #gd_stayAlertMessages,#gd-specificroom-message { padding: 10px; margin: 10px 0; border: 1px solid #ccc; background-color: #feffd0; }
    #gd_stayAlertMessages { background-color: #f6f6f6; }
        #gd_stayAlertMessages h5, #gd_stayAlertMessages p,#gd-specificroom-message h5,#gd-specificroom-message p{ margin: 0; padding: 0 0 0 20px; }
        #gd_stayAlertMessages h5, #gd-specificroom-message h5 { font-size: 12px; font-weight: bold; background: url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat; background-position: 0 -825px; }
        #gd-specificroom-message h5 { background-position: 0 -956px; }
        #gd_stayAlertMessages.gd_stayAlertMulitpleMessages p { margin: 5px 0; padding: 10px; background-color: #ffffeb; border: 1px solid #ccc; }
    .gd-room { padding-bottom: 10px; border-bottom: 1px solid #ccc; margin-bottom: 10px; clear: both; }
        .gd-room h4 { font-size: 14px; font-weight: bold; }
        .gd-room-select { width: 175px; float: right; }
            .gd-room-select form b { font-size: 14px; padding-top: 5px; width: 85px; text-align: right; display: block; float: left; }
            .gd-room-select .gd-button { float: right; width: 65px; text-align: center; }
            .gd-room-select .gd-room-totals { list-style: none; margin: 10px 0 0; color: #555; float: right; clear: both; padding: 0; }
            .gd-room-select .gd-room-totals li { float: left; width: 100%; }
            .gd-room-select .gd-room-totals li.gd-room-total-disclaimer span { padding: 5px 0 5px 10px; font-style: italic; }
            .gd-room-select .gd-room-totals li span, .gd-room-select .gd-room-totals li b { display: block; float: left; width: 74px; text-align: right; }
            .gd-room-select .gd-room-totals li b { width: 100px; }
            .gd-room-select .gd-room-totals li.gd-room-total-disclaimer span { padding: 5px 0 5px 10px; font-style: italic; float: none; width: auto; }
        .gd-room-image { float: left; width: 100px; height: 114px; margin: 0 20px 20px 0; background: url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat; background-position: 0 -710px; }
            .gd-room-image a.gd-room-main-image { width: 102px; height: 116px; overflow: hidden; }
            .gd-room-image img { width: 100px; height: 100px; border: 1px solid #ccc; }
            .gd-room-image a span { display: block; }
        .gd-room-rate-breakdown { margin: 5px 0; }
            .gd-room-rate-breakdown table { border-collapse: collapse; }
            .gd-room-rate-breakdown table th { text-align: center; padding: 2px 5px; }
            .gd-room-rate-breakdown table td { border: 1px solid #ccc; padding: 2px 5px; }
        .gd-room-details {  }
        h4.gd_individualUnit-heading { clear: both; }
        .gd_individualUnit { margin: 0 0 10px 10px; border: 2px solid #ddd; padding: 10px; background-color: #eef7fc; }
        .gd-room-package-select { }
            table.gd-room-package-select-list { border-collapse: collapse; background-color: #fff; border: 1px solid #ccc; border-width: 1px 1px 0; }
                table.gd-room-package-select-list .gd-room-warning { text-align: left; }
                table.gd-room-package-select-list tr.gd-pe-inline-room-package:hover { background-color: #EEF7FC; }
                table.gd-room-package-select-list tr.gd-pe-inline-room-package { padding: 3px 0; }
                table.gd-room-package-select-list td.gd-pe-inline-room-package-warning { width: 350px; }
                    table.gd-room-package-select-list tr.gd-pe-inline-room-package td { border-bottom: 1px solid #ccc; padding: 3px 10px; }
                    table.gd-room-package-select-list tr.gd-pe-inline-room-package td b { font-weight: normal; }
                table.gd-room-package-select-list tr:first-child { background-color: #FEFFD0; }
                    table.gd-room-package-select-list tr:first-child td.gd-pe-inline-room-package-name { font-weight: bold; }
                    table.gd-room-package-select-list tr:first-child td b { font-weight: bold; }
                /* table.gd-room-package-select-list td.gd-pe-inline-room-package-infoicon { background: url('/reservations/media/layout/tooltip-info.png') no-repeat center center; width: 16px; } */
            .gd-room-package-select .gd-button {  }
        .gd-room-package-tooltip-content { z-index:99; display:none; background: #fff; min-width: 200px; max-width: 500px; padding: 20px 20px 10px; border: 1px solid #333; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0px 0px 5px #000000; -webkit-box-shadow:0px 0px 5px #000000; box-shadow:0px 0px 5px #000000; }
            .gd-room-package-tooltip-content div { position: relative; }
            .gd-room-package-tooltip-content h3 { margin: 0 0 5px; padding: 0; }
            .gd-room-package-tooltip-content .gd-room-package-tooltip-restrictions { margin: 0 0 10px; padding: 5px 0; list-style: none; float: left; width: 100%; border:1px solid #ccc; border-width:1px 0; }
                .gd-room-package-tooltip-content .gd-room-package-tooltip-restrictions li { float: left; margin-right: 20px; }
                    .gd-room-package-tooltip-content .gd-room-package-tooltip-restrictions li strong { display: block; }
            .gd-room-package-tooltip-content .gd-room-results-full-description, .gd-room-package-tooltip-content .gd-room-results-short-description { margin: 5px 0 10px; }
                .gd-room-package-tooltip-content .gd-room-results-full-description img { max-width: 700px; }
            .gd-room-package-tooltip-content div span.gd-tooltip-arrow { position: absolute; width: 100%; height: 15px; display: block; background: transparent url('/reservations/media/layout/tooltip-arrow.png') no-repeat center center; bottom: -25px; }
            .bottom div span.gd-tooltip-arrow { position: absolute; width: 100%; height: 15px; display: block; background: transparent url('/reservations/media/layout/tooltip-arrow-up.png') no-repeat center center; top: -35px; bottom: auto; }
            .gd-room-package-tooltip-content ul { margin: 0; padding: 0; list-style: none; }
            .gd-room-package-tooltip-content ul.gd-room-totals { margin: 5px 0; padding: 10px 0 0; border-top:1px solid #ccc; }
                .gd-room-package-tooltip-content ul.gd-room-totals li { padding: 3px 0; }
                .gd-room-package-tooltip-content ul.gd-room-totals li b { display: block; width: 100px; font-weight: bold !important; float: left; }
                .gd-room-package-tooltip-content img.gd-room-package-tooltip-image { max-width: 500px; }
                .gd-room-package-tooltip-content span.gd-tooltip-close-button { display: block; background: url('/reservations/media/layout/close_icon.png') no-repeat right 50%; padding-right: 15px; float: right; }
    /*
    ----------------------------
    PAGINATION
    ----------------------------
    */
    .gd_pagination { padding: 0 0 5px; border-bottom: 1px solid #ccc; margin:5px 0 10px; height: 20px; position: relative; }
        .gd_pagination div.gd_page { position: absolute; top:2px; right: 65px; }
        .gd_pagination a.gd_next, .gd_pagination span.gd_next-off, .gd_pagination a.gd_prev, .gd_pagination span.gd_prev-off { display: block; background-color: #eee; border: 1px solid #ccc; padding: 2px 5px; width: 27px; color: #000; }
        .gd_pagination a.gd_next, .gd_pagination span.gd_next-off { position: absolute; top:0; right: 0; padding-right: 18px; background: #eef7ff url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat 38px -216px; }
        .gd_pagination a.gd_prev, .gd_pagination span.gd_prev-off { position: absolute; top:0; right: 140px; padding-left:18px; background: #eef7ff url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat 5px -246px; }
        .gd_pagination a.gd_next:hover, .gd_pagination a.gd_prev:hover { background-color: #fff; border-color: #999; }
        .gd_pagination span.gd_prev-off, .gd_pagination span.gd_next-off { color: #999; background-color: #eee; }
        .gd_pagination span.gd_prev-off, .gd_pagination span.gd_next-off { color: #999; background-color: #eee; }
        .gd_pagination span.gd_prev-off { background-image: url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat 5px -246px; }
        .gd_pagination span.gd_next-off { background-image: url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat 38px -216px; }
        .gd_pagination h4 { position: absolute; top:4px; width: 200px !important; margin: 0 !important; padding: 0 !important; font-size: 12px !important; line-height: 12px !important; }

    /*
    ----------------------------
    Optional Services
    ----------------------------
    */
    #gd_additionalServices, .gd_servicePriceAndQuantity { list-style: none; margin: 10px 0; padding: 0; }
        #gd_additionalServices li { margin: 0 0 10px; }
        .gd_unitAlt1_grid, .gd_unitAlt2_grid { padding: 10px; background-color: #dfedf4; }
        .gd_unitAlt2_grid { padding: 10px; background-color: #e9f6fd; }
        .gd_serviceDescription img { float: left; margin: 0 10px 10px 0; width: 100px; min-height: 75px; }
        .gd_serviceSelection { padding: 5px; margin-bottom: 10px; border-bottom: 1px solid #ccc; }
        .gd_servicePriceAndQuantity { float: right; width: 300px; margin-top: 0; }
            .gd_servicePriceAndQuantity label { width:100px; text-align: right; padding:5px 10px 0 0; display: block; float: left; }
        .gd_childAgesContainer span { display: block; }
        .gd_additionalServicesSubmit { text-align: right; font-weight: bold; }
        .gd-unit-amenities-list { padding-left: 20px; }
        .gd-unit-amenities-list li { width: 35%; padding-right: 3%; float: left; }
    
    /*
    ----------------------------
    GOLF (other styles in gd_tt_layout.css)
    ----------------------------
    */
    #gd_tt-timer { background-color: #feffd0; padding: 5px 15px; border: 1px solid #ccc; }

    /*
    ----------------------------
    Reservation Form
    ----------------------------
    */
    #bookForm input#phone { width: 100px; }
    #gd-reserve #gd-disclaimer { margin:10px 0; padding: 10px 0 0 50px; border-top: 1px solid #ccc; }
        #gd-reserve #gd-disclaimer div#gd-disclaimer-content { margin: 10px 0 0; max-height: 100px; padding: 10px; background-color: #f6f6f6; overflow: auto; border: 1px solid #ccc; }
            #gd-reserve #gd-disclaimer div#gd-disclaimer-content * { font-size: 10px !important; color: #777 !important; }
    #bookForm ul { margin: 10px; padding: 0; list-style: none; }
        #bookForm ul li { clear: both; padding: 10px 0; }
            #bookForm ul li label { display: block; font-weight: bold; padding: 0; text-align: left; float: none; }
            #bookForm ul li input, #bookForm ul li select { vertical-align: middle; }
            #bookForm ul li input { padding: 3px; font-weight: bold; }
            #bookForm ul li input.long { width: 80%; }
            #bookForm ul li.gd-form-checkbox label { display: inline; }
            #bookForm ul li ul { margin: 0; }
                #bookForm ul li ul li { float: left; padding: 0 10px 0 0; clear: none; }
    /*
    ----------------------------
    Secure/Verisign Icon on form
    ----------------------------
    */
    a.gd-verisign-secured { float: right; margin: 0 0 20px 20px; }

/*
    ----------------
    UTILITY BAR - APP FOOTER
    ----------------
*/
#gd-utility-bar { margin: 0 0 10px; border-top: 1px solid #ccc; padding-top: 10px; height: 30px; position: relative; }
    ##gd-branding { position: absolute; right: 0; top:10px; }
    #gd-branding-iqware, #gd-branding-guestdesk, #gd-branding-verisign { display:block; float:right; height: 30px; background: url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat; text-indent: -9999px; }
    #gd-branding-iqware { width: 100px; background-position: 0 -670px; }
    #gd-branding-guestdesk { width: 70px; background-position: 0 -575px; }
    #gd-branding-verisign { width: 100px;  background-position: 0 -610px; }

/*
    ----------------
    BUTTONS
    ----------------
*/
.gd-button { display: block; padding: 5px 10px; text-decoration: none; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background-color: #2db72d; color:white !important; line-height: 1em; }
#gd-wrapper .gd-input-submit { border:0; padding: 5px 10px; font-size: 12px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background-color: #2db72d; color:white; line-height: 1em; }
#gd-wrapper input[disabled].gd-input-submit { background-color: #ccc; }
.gd-input-submit-bookgolf { width: 100%; }
.gd-button-check-rates { background-color: blue; color:white; }
.gd-button-view-units { background-color: #555; color:white; }

/*
    ----------------
    ICONS
    ----------------
*/
.gd_expand, .gd_hide, .gd_add, .gd_remove, .gd-map, .gd-directions, .gd-more-info, .gd-more-photos, .gd-website, .gd-add, .gd-close, .gd-remove, .gd-save, .gd-print, .gd-email, .gd-itinerary, .gd-retrieve, .gd-virtual-tour, .gd-file, #gd-package-list #gd_standard_room_rates, .gd-warning-message, .gd-advanced-search-expand, .gd-advanced-search-hide { padding-left: 15px; background: url('http://search.iqrez.com/reservations/media/layout/gd-icons.png') no-repeat; }
.gd_expand { background-position: 0 -217px; }
.gd_hide { background-position: 0 -187px; }
.gd-advanced-search-expand { background-position: 0 -213px; }
.gd-advanced-search-hide { background-position: 0 -183px; }
.gd-map { background-position: 0 -277px; padding-left: 20px; }
.gd-directions { background-position: 0 -308px; padding-left: 20px; }
.gd-virtual-tour { background-position: 0 -518px; }
.gd-more-photos { background-position: 0 -96px; }
.gd-website { background-position: 0 -365px; }
.gd-more-info { background-position: 0 -338px; }
.gd-file { background-position: 0 -488px; }
.gd-add { background-position: 0 -128px; }
.gd-close { background-position: 0 -548px; }
.gd-remove { background-position: 0 -160px; }
.gd-save { background-position: 10px -37px; padding-left: 25px; }
.gd-print { background-position: 10px -7px; padding-left: 25px; }
.gd-email { background-position: 10px -67px; padding-left: 25px; }
.gd-itinerary { background-position: 10px -422px; padding-left: 23px; }
.gd-retrieve { background-position: 10px -458px; padding-left: 25px; }
.gd-warning-message { background-position: 10px -956px; padding-left: 25px; }
#gd-package-list #gd_standard_room_rates { background-position: 0 -248px; }
/*
    ----------------
    UTILITY CLASSES
    ----------------
*/
div.clear { clear: both; height: 1px; overflow: hidden; }
.gd-no-thanks { padding: 0; margin: 0 0 5px; float: right; font-weight: bold; }
.gd-strikethrough, .gd_dollarStrike { text-decoration: line-through; color: #555; }
.gd-special-rate { color: green; font-weight: bold; }
.gd-error, .gd_error { color: #900; padding: 5px; background-color: #fcc; }
.gd_unit_error { color: #900; }
.gd-room-warning { color: #c00; padding: 5px; text-align: center; } 
.gd-passive-message { font-style: italic; color: #555; display: none; }
#gd-search .gd-passive-message, #gd-multi-property-search .gd-passive-message { display: block; }
#gd-message-overlay { text-align: center; padding: 20px; }