
@font-face
{
font-family: HelveticaNeueLTPro-ThEx;
}

body {
	background-image: url('../images/body_background.gif');
	background-repeat:no-repeat;
	background-size:100%;
}

 
.logo {
	background-color: transparent;
	z-index: 2;
}

div.header1 {
	-webkit-box-shadow: 1px 1px 1px #888888; /* Safari and Chrome */
	box-shadow: 1px 1px 1px #888888;
	width: 999px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

div.body_bg{
	background-color: #7a8cb7;
	position: relative;
	width: 1000px;
	min-height: 900px;
	margin: auto;
	padding-bottom: 10px;
	padding-top: 0px;
	-webkit-box-shadow: 1px 1px 1px #888888; /* Safari and Chrome */
	box-shadow: 1px 1px 1px #888888;
}

.page_position {
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
	position: relative;
}


.header2 {
	background-color: #ffffff;
	width: 1000px;
}

.body_left_nav {
	width: 100%;
	border: 0;
	margin-left: 0;
	padding-left: 0;
	border-collapse: collapse;
}

.left_nav {
	border: 0;
	vertical-align:top;
	text-align: left;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
	padding-right: 20px;
	padding-bottom: 10px;
}

.map {
	font: 14px arial,sans-serif;
	color: black;
	background-color: #F8CF8E;
}

.body_text {
	color: #090c40;
	background-color: #ffffff;
	text-align: left;	
	vertical-align:top;
	padding-top: 10px;
	padding-bottom: 10px;
	border-collapse: collapse;
	width: 100%;
	
}

.left15 {
	margin-left: 15px;
}

div.search_results {
	margin-left: 20px;
	margin-right: 20px;	
}

.welcome_slideshow {
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	border-collapse: collapse;
	margin-left: -1px;
	margin-right: -1px;
}

.welcome_slideshow .nivo-controlNav {
	display: none;
}

.nivo-caption p {
	color: #ffffff;
}

.border_none {
	border: none;
}

h1 {
	margin-left: 15px;
	margin-right: 10px;
	color: #7a8cb7;
	font: 30px arial,sans-serif;
	text-align: left;
	margin-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h2 {
	color: #7a8cb7;
	font: 30px arial,sans-serif;
	text-align: left;
	margin-top: 15px;
}

h4 {
	color: #090c40;
	font: 30px arial,sans-serif;
}

h5 {
	color: #090c40;
	font: 18px arial,sans-serif;
	margin-left: 15px;
}

.body_text table {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;	
}

div.body_text {
	min-height: 500px;
}

div.hidden {
	display: none;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

.body_text li {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #090c40;
	text-align: left;
	font: 14px arial,sans-serif;
	line-height: 175%;
}

p.center {
	text-align: center;
}

p.single {
	line-height: 100%;
}

p.single ul {
	line-height: 100%;
}

div.body_text td.house_blurb, td.house_blurb ul, td.house_blurb p {
	text-align: left;
}


table {
	padding: 0px;
	margin-top: 0px;
}

td {
	font: 14px arial,sans-serif;
}

hr.gold {
	color: #c2a303;
	border-collapse: collapse;
	
}

p.li {
	color: #090c40;
	text-align: left;
	font: 14px arial,sans-serif;
	
}

.thumb {
	margin-left: 15px;
	margin-right: 15px;
}



.body_text table.plans, .body_text table.legend{
	font: 14px arial, sands-serif; 
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse;
	text-align: center;
}

.plans td {
	border: 1px solid #2b2f6e;
	background-color: #f9f4d8;
	padding: 5px;
	text-align: center;
}
 
.plans td.left_head {
	background-color: #c2a303;
}

.plans td.blank {
	border: 0px;
	background-color: #ffffff;
}

.legend {
	border: 1px solid #2b2f6e;
}

.legend td {
	background-color: #f9f4d8;
	padding: 4px;
}

.plans .leg_head {
	background: #2b2f6e;
	color: #ffffff;
}

.body_text table.floor_plan {
	margin-left: auto;
	margin-right: auto;
}

.floor_plan td{
	padding: 5px;
}

.legend img {
	width: 10px;
	height: 10px;
	display: inline;
	float: left;
}

div.footer {
	background-image: url('../images/footer.gif');
	background-repeat:no-repeat;
	background-size:cover;
	text-align: center;	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-top: auto;
	padding-left: 0px;
	width: 100%;
}

div.footer div.footer_logo {
	display: table-row;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-top: auto;
	text-align: center;	
	width: 100%;
}

div.footer ul {
	display: block;
	align: center;
}

div.footer li {
	height: 100%;
	float: right;
	display: block;
	padding: 10px;
}

p.footer_links {
	color: #0a0e4b;
	text-align: center;
	font: 14px arial, sands-serif; 
}

p.footer_address {
	color: #0a0e4b;
	text-align: center;
	font: 18px arial, sands-serif; 
	
}

table.menu,
table.unit_list {
	margin-left: auto;
	margin-right: auto;
 	border-collapse:collapse;
}

table.align_left td, table.align_left td p{
	text-align: left;
	vertical-align: top;
}

.menu td,
.unit_list td {
	 border: 2px solid #2b2f6e;
	 background-color: #f9f4d8;
	 padding: 7px;
	 
	 vertical-align: top;
	 text-align: center;
}


.unit_list td.border_no_left {
	border-left: none;
}

.unit_list td.border_no_right {
	border-right: none;
}

.unit_list td.border_no_top {
	border-top: none;
}

.unit_list td.border_no_bottom {
	border-bottom: none;
}

.unit_list td.border_none {
	border-style: none;
}

.menu td.title,
.unit_list td.title {
	background-color: #2b2f6e;
	color: #ffffff;
}

.unit_list td.hidden {
	background-color:#ffffff;
	border: none;
}

.menu td h1 {
	text-align: center;
	color: inherit;
	font: 22px arial, sands-serif;
	margin-top: 0px; 
	padding: 2px;
}

.menu td h2 {
	text-align: center;
	color: inherit;
	font: 19px arial, sands-serif; 
}

.menu td p {
	text-align: center;
}

.menu td table.inside_menu {
	width: 95%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
}

.menu td table.inside_menu td{
	border: none;
	text-align: left;
	padding: 0px;
}

div.Hotel_Select_map {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

div.Hotel_Select {
	background-color: #c2a303;
	border: 1px solid #c2a303;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	height: 75px;
	border-collapse: collapse;
}
	
div.Hotel_Select p{
	color: #ffffff;
	text-align: center;
	font: 16px arial, sands-serif; 
	vertical-align: middle;
	border: 1px solid red;
	margin-top: 0px;
}

div.Hotel_Select p img {
	height: inherit;
	float: right;
	border: none;
	margin-top: 0px;
	vertical-align: top;
	padding: 0px;
}


.float_right {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

.float_left {
	float: left;
}

.gplus {
	padding-top: 10px;
}

/* Resercation quick book bar */

.reservation_bar {
	background-color: #c2a303;
	vertical-align:middle;
	padding: 15px;
	white-space:nowrap;
}

form.quickBook_form_class div {
  float: left;
  padding: 0px 12px 0px 12px;
	vertical-align: middle;
	text-align: center;
}


/*----- Quick Book Bar : Specials and Submit -----*/

form.quickBook_form_class select,
form.quickBook_form_class input[type='text'] {
	font: 16px arial,sans-serif;
	padding: 1px;
	color: #261e0f;
  background: #fff;
  border: 1px solid #959595;
}

.quickBook_code {
	width: 75px;
}

form.quickBook_form_class label {
	background-color: #eae3b6;
	padding: 2px 4px 0 0;
	font: 16px arial,sans-serif;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1px;
	display: block;

}




form.quickBook_form_class .quickBook_submit,
form.quickBook_form_class .quickBook_offers {
	padding: 10px 10px 10px 10px;
  margin-top: auto;
	margin-bottom: auto;
}

form.quickApply_form_class {
	margin-top: auto;
	margin-bottom: 0px;
}

form.quickBook_form_class .quickBook_submit input,
form.quickApply_form_class .quickBook_submit input {
	font: 16px arial,sans-serif;
	background-color: #2b2f6e;
  color: #ffffff;
  padding: 5px 5px;
}

div.quickBook_offers input {
  font: 16px arial,sans-serif;
	background-color: #879bc3;
  color: #ffffff;
	padding: 5px 5px;
}



.quickBook_jsForm {
	display: none;
}


/*****************************
 * Top Navigation bar styles
 ***************************/
.topNav {
	margin-bottom: 0px;
}

ul.sf-menu {
	margin-bottom: 0px;
	border-spacing: 0px;
}

.sf-menu  li:hover  ul, .sf-menu  li:hover  ul{
	top: 3em;
}

.sf-menu  ul  {
	width: 14em;
	/*font: 16px arial,sans-serif;*/	
}

.sf-menu li li ul{
	margin-left: 4em;
}

.sf-menu a, .sf-menu a:visited {
	white-space:nowrap;	
	background: #7a8cb7;
	color: #ffffff;
	font: 16px HelveticaNeueLTPro-ThEx,arial,sans-serif;
	font-weight:100;
	border-top: none;
	border-bottom: 1px solid #CFDEFF;
	border-left: 1px solid #CFDEFF;
}

.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active , .sf-menu a.hover {
	background: #2b2f6e;
	color: #ffffff;
}

li.mi_home  a{
	border-left: none;
}





