/* Navigation Bar */
.topNav {
	padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

#jsddm {
	padding-top: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

#jsddm li {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	float: left;
	list-style: none outside none;
	height: 30px;
	background: #ffffff;
}

#jsddm li a{
	background: #ffffff;
	display: block;
	height: 30px;
	border-bottom: 1px solid white;
}

#jsddm li a:hover{
	background: #ffffff;
	height: 100%;
	display: block;
	height: 30px;
}

#jsddm li ul {
	padding-left: 0px;
  position: absolute;
 /*visibility: hidden;*/
  z-index: 100;
  margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 0px;
	background: #ffffff;
}

#jsddm li ul li {
	background: #ffffff;
  display: inline;
	border-top: 1px solid white;
	border-right: none;
  float: none;
  margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#jsddm li.mi_home a {
	width: 70px;
	display: block;
	text-decoration: none;
	background: url(../images/menu_button_home_EN.gif) no-repeat left;
}

#jsddm li.mi_home a:hover {
	background: url(../images/menu_button_hover_home_EN.gif) no-repeat left;
}
	
#jsddm li.mi_rooms a {
	width: 71px;
	
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/menu_button_rooms_EN.gif) no-repeat left;
}

#jsddm li.mi_rooms a:hover {
	background: url(../images/menu_button_hover_rooms_EN.gif) no-repeat left;
}

#jsddm li.mi_meetings a {
	
	width: 92px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/menu_button_meetings_EN.gif) no-repeat left;
}

#jsddm li.mi_meetings a:hover {
	background: url(../images/menu_button_hover_meetings_EN.gif) no-repeat left;
}

#jsddm li.mi_brunch a {
	width: 120px;
	
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/sub_menu_brunch_EN.gif) no-repeat left;
}

#jsddm li.mi_dinner a:hover {
	background: url(../images/sub_menu_dinner_hover_EN.gif) no-repeat left;
}

#jsddm li.mi_dinner a {
	width: 120px;
	
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/sub_menu_dinner_EN.gif) no-repeat left;
}

#jsddm li.mi_brunch a:hover {
	background: url(../images/sub_menu_brunch_hover_EN.gif) no-repeat left;
}

#jsddm li.mi_amenities a {
	
	width: 95px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/menu_button_amenitites_EN.gif) no-repeat left;
}

#jsddm li.mi_amenities a:hover {
	background: url(../images/menu_button_hover_amenitites_EN.gif) no-repeat left;
}

#jsddm li.mi_attractions a {
	
	width: 170px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/menu_button_attractions_EN.gif) no-repeat left;
}

#jsddm li.mi_attractions a:hover {
	background: url(../images/menu_button_hover_attractions_EN.gif) no-repeat left;
}

#jsddm li.mi_contactus a {
	
	width: 113px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	
	background: url(../images/menu_button_contactus_EN.gif) no-repeat left;
}


#jsddm li.mi_contactus a:hover {
	background: url(../images/menu_button_hover_contactus_EN.gif) no-repeat left;
}

#jsddm li.mi_english {
	border-right: none;
}

#jsddm li.mi_english a {
	
	width: 84px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	border-right: none;
	background: url(../images/menu_button_francais_EN.gif) no-repeat left;
}

#jsddm li.mi_english a:hover {
	background: url(../images/menu_button_hover_francais_EN.gif) no-repeat left;
}