@media all and (max-width: 767px){
	.unit_list{
		width:100%;
		padding:0px;
		margin:0px;
	}
}

@media all and (min-width: 768px){
	.unit_list{
		width:90%;
		padding:10px;
		margin:10px;
	}
}

table.img_preview {
	background-color: #f9f4d8;
	padding: 10px;
	border-collapse: separate;
	border-spacing: 20px;
}

table.unit_list {

 	border-collapse:collapse;
	text-align: center;
}

.unit_list td
{
	 border: 2px solid #2b2f6e;
	 background-color: #f9f4d8;
	 padding: 0px;

	 vertical-align: middle;
	 text-align: center;
}


.unit_list td.border_no_left {
	border-left: none;
}

.unit_list td.border_no_right {
	border-right: none;
}

.unit_list td.border_no_top {
	border-top: none;
}

.unit_list td.border_no_bottom {
	border-bottom: none;
}

.unit_list td.border_none {
	border-style: none;
}
.unit_list th {
	border: 2px solid #2b2f6e;
	background-color: #2b2f6e;
	color: #ffffff;
}

.info {
	background: url("../img/Checkmark 2.png") no-repeat;
	color: #7a8cb7;
}

.error {
	color: red;
	background: url("../img/Error.png") no-repeat;
}

.warning {
	color: red;
	background: url("../img/Warning.png") no-repeat;
}

.info, .warning, .error {
	position:relative;
	height: 22px;
	width: auto;
}

.msg_content {
	font-size: 16px;
	font-weight: bold;
	left: 30px;
	top: 50%;
	-webkit-transform:translate(0%,-50%);
	transform:translate(0%,-50%);
	position:absolute;

}

div.footer_links {
	color: #0a0e4b;
	text-align: center;
	font: 14px arial, sands-serif;
}

div.footer_address {
	color: #0a0e4b;
	text-align: center;
	font: 18px arial, sands-serif;

}

div.header1 {
	-webkit-box-shadow: 1px 1px 1px #888888; /* Safari and Chrome */
	box-shadow: 1px 1px 1px #888888;
	width: 999px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 270px;
	height: 236px;
}

.owl-prev, .owl-next {
	cursor: pointer;
	top: 100%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 1;
}

.owl-prev {
	left: 40%;
}

@media (min-width: 768px) {
	.owl-prev {
		left: 47.6%;
	}
}

.owl-prev:before {
	transition: .3s all ease;
	content: '';
	background: url("../../images/owl-prev.png") no-repeat;
	width: 13px;
	height: 27px;
	position: absolute;
}

.owl-prev:hover:before {
	background-position: -13px 0;
}

.owl-next {
	right: 40%;
}

@media (min-width: 768px) {
	.owl-next {
		right: 48.8%;
	}
}

.owl-next:before {
	transition: .3s all ease;
	content: '';
	background: rgba(0, 0, 0, 0) url("../../images/owl-next.png") no-repeat scroll -13px 0;
	width: 13px;
	height: 27px;
	position: absolute;
}

.owl-next:hover:before {
	background-position: 0px 0;
}

.thumb {
	position: relative;
	display: block;
	overflow: hidden;
}

.thumb img {
	width: 100%;
}

.thumb a > img {
	width: 100%;
}

.thumb__title {
	float: top;
	position: absolute;
	top: 52%;
	left: 50%;
	opacity: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	transform: translateX(-50%);
}

.thumb__overlay1 {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(21, 195, 148, 0.7);
	opacity: 1;
	text-align: center;
	transition: .3s;
}

.thumb__overlay1 > * {
	vertical-align: middle;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	transition: .3s all ease;
}

.thumb__overlay1 span {
	display: inline-block;
	position: absolute;
	z-index: 2;
	left: 50%;
	font-weight: bold;
	top: 50%;
	font-size: 20px;
	color: #fff;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.thumb__overlay {
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(58, 66, 72, 0.7);
	opacity: 0;
	text-align: center;
	transition: .3s;
}

.thumb__overlay > * {
	vertical-align: middle;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	transition: .3s all ease;
}

.thumb__overlay:before {
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: url("../images/thumb.png") no-repeat;
	width: 32px;
	height: 32px;
}

.thumb__overlay:after {
	content: '';
	position: absolute;
	top: 2%;
	left: 3%;
	right: 3%;
	bottom: 3%;
}

.thumb__overlay:before {
	top: 50%;
}

.thumb:hover .thumb__overlay {
	opacity: 1;
}

.thumb:hover .thumb__overlay > * {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.thumb:hover .thumb__overlay1 {
	opacity: 0;
}

.thumb:hover .thumb__titel {
	opacity: 1;
}
